/*
 * Replace default CDN images with local images.
 * (Overrides the libraries style.css and hotspots.css definitons)
 */

/* style.css */
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-magnifier-icon {
  background-image: url("../images/loupe.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-fullscreen-icon {
  background-image: url("../images/full_screen.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-reset-zoom-icon {
  background-image: url("../images/ic-resize.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-close-fullscreen-icon {
  background-image: url("../images/cross.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-left::before,
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-top::before {
  background-image: url("../images/arrow-left.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-right::before,
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-bottom::before {
  background-image: url("../images/arrow-right.svg");
}

/* hotspots.css */
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-hotspot-link-icon::before {
  background-image: url("../images/link-hotspot.svg");
}
.js-cloudimage-360-view .cloudimage-360 .cloudimage-360-hotspot-custom-icon::before {
  background-image: url("../images/plus.svg");
}
