{#
/**
 * @file
 * Returns HTML for an image using a the JS Cloudimage 360 view formatter.
 *
 * Available variables:
 * - file_urls_string: The file urls string.
 * - display_settings: The display settings.
 * - attributes: HTML attributes for the 360 view element.
 *
 * @ingroup themeable
 */
#}
{% if not (file_urls_string is empty) %}
  <div class="js-cloudimage-360-view">
    <div{{ attributes }}>
      {% if attributes['data-control'] %}
        <button class="cloudimage-360-left"></button>
        <button class="cloudimage-360-right"></button>
        {# @todo Implement this in
        https://www.drupal.org/project/js_cloudimage_360_view/issues/3458505:
        <button class="cloudimage-360-top"></button>
        <button class="cloudimage-360-bottom"></button> #}
      {% endif %}
    </div>
  </div>
{% endif %}
